.container-listas {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.lista-container {
    width: 100%;
    padding: 10px 20px 30px 20px;
    background-color: #f3f3f3;
    box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);

    &__title {
        font-size: 2.4rem;
        font-weight: 700;
        margin: 0 0 20px 0;
    }
    &__videos {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
        &__videos--1 {
            width: 330px;
            height: 185.6px;
            border-radius: 15px;
            margin-bottom: 20px;
            @include ajustar-imagen;
            cursor: pointer;
        }
}

.lista-container2 {
    width: 100%;
    padding: 10px 20px 30px 20px;
    background-color: #f3f3f3;
    box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.imagen1 {
    background-image: url(/public/assets/img/Lista1/platzi1.png);
}

.imagen2 {
    background-image: url(/public/assets/img/Lista1/platzi2.png);
}

.imagen3 {
    background-image: url(/public/assets/img/Lista1/platzi3.png);
}

.imagen4 {
    background-image: url(/public/assets/img/Lista1/platzi4.png);
}

.lista-container__videos--1-hover {
    display: none;
    width: 330px;
    height: 185.6px;
    padding-left: 20px;
    padding-bottom: 20px;
    border-radius: 15px;
    flex-direction: column;
    justify-content: flex-end;
    background-color: rgba( $color-dark, 70%);
}

.lista-container__videos--1:hover  .lista-container__videos--1-hover,.lista-container__videos--1-hover:hover {
    display: flex;
}

.lista-container__videos--controls {
    display: flex;
}

.videos--controls__play {
    width: 40px;
    height: 40px;
    margin: 10px;
    background-image: url(/public/assets/icons/mas.png);
    @include ajustar-imagen;
}

.videos--controls__plus {
    width: 40px;
    height: 40px;
    margin: 10px;
    background-image: url(/public/assets/icons/tocar.png);
    @include ajustar-imagen;
}

.lista-container__videos--title {
    color: $color-white;
    margin: 10px;
}

.lista-container__videos--subtitles {
    color: $color-white;
    display: flex;
    margin: 10px;
    p:nth-child(1) {
        margin-right: 20px;
    }
}